# Directories
# -----------
.idea/
.vagrant/

admin.key
admin.csr                  
admin.crt
admin.kubeconfig
ca.key
ca.csr                     
ca.crt
/encryption-config.yaml
kube-controller-manager-csr.json
kube-controller-manager-key.pem
kube-controller-manager.csr
kube-controller-manager.kubeconfig
kube-controller-manager.pem
kube-scheduler-csr.json
kube-scheduler-key.pem
kube-scheduler.csr
kube-scheduler.kubeconfig
kube-scheduler.pem
kube-proxy-csr.json        
kube-proxy-key.pem         
kube-proxy.csr             
kube-proxy.kubeconfig      
kube-proxy.pem             
node02.key
node02.csr
node02.kubeconfig
node02.crt
service-account.key
service-account.csr
service-account.crt
*.swp